html {
  height: 100%;
  border: double 5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: pink;
}

.app {
  text-align: center;
}

.default { 
  border: white 1px solid;
}

.correct {
  border: green 1px solid; 
}

.ansButton {
  border-radius: 10%;
  margin: 10px;
  padding: 20px;
  width: 25%;
} 

.ansButton:hover {
  border: 5px lightblue inset;
  background-color: lightgreen;
}

.btnContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.btnContainers {
  width: 100%;
}

.switch {
  margin: 10px;
  font-size: 20px;
  border-radius: 5%;
}