html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: pink;
  height: 100%;
  border: double hotpink 10px;
}

.app {
  margin: 0px;
  text-align: center;
  position: relative;
  height: 100vh;
}

.title {
  color: hotpink;
}

.default { 
  border: white 1px solid;
}

.correct {
  background-color: green 1px solid; 
}

.questionDiv {
  height: 7vh;
}

.ansButton {
  border-radius: 10%;
  margin: 10px;
  padding: 20px;
  width: 40vw;
  height: 30vh;
} 

.btn1 {
  background-color: #00FFCC;
  
}

.btn2 {
  background-color: #E4A4EE;
}

.btn3 {
  background-color: #FFAA7B;
}

.btn4 {
  background-color: #FEE975;
}

.ansButton:hover {
  background-color: lightgrey;
}

.btnContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.btnContainers {
  width: 100%;
}

.switch {
  margin: 10px;
  font-size: 20px;
  border-radius: 10%;
  background-color: #E4A4EE;
  padding: 5px;
}

.white{
  background-color: white;
}

.green{
  background-color: #17D3FF;
}

.red{
  background-color: rgb(255, 38, 0);
}  